<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet"/>
</head>

<body class="bg-base-200 min-h-screen">

<div class="container mx-auto py-10">

    <div class="card bg-base-100 shadow-xl">

        <div class="card-body">

            <h1 class="text-4xl font-bold">
                관리자 페이지
            </h1>

            <div class="divider"></div>

            <div class="alert alert-warning">

                <span>
                    관리자만 접근 가능한 페이지입니다.
                </span>

            </div>

            <div class="grid gap-4 mt-5">

                <a href="/admin/member-list"
                   class="btn btn-outline btn-primary justify-start h-16">
                    회원 관리
                </a>

                <a href="/admin/board-list"
                   class="btn btn-outline justify-start h-16">
                    게시글 관리
                </a>

                <a href="/admin/comment-list"
                   class="btn btn-outline justify-start h-16">
                    댓글 관리
                </a>

                <a href="/notice/list"
                   class="btn btn-outline btn-secondary justify-start h-16">
                    공지사항 관리
                </a>

                <a href="/admin/inquiry-list"
                   class="btn btn-outline btn-primary justify-start h-16">
                    1:1 문의 관리
                </a>

                <a href="/admin/report-list"
                   class="btn btn-outline btn-warning justify-start h-16">
                    신고 관리
                </a>

            </div>

            <div class="divider"></div>

            <div class="flex gap-3">

                <a href="/"
                   class="btn btn-primary">
                    메인페이지
                </a>


                <a href="/member/logout"
                   class="btn btn-error">
                    로그아웃
                </a>

            </div>

        </div>

    </div>

</div>

</body>
</html>