<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siyan1234.group_project.board.dao.BoardDao">
    <!-- 글 목록: 작성자 정보 위해 member와 JOIN -->
    <select id="listBoard" parameterType="PageDto" resultType="BoardDto">
        SELECT b.*, m.member_id, m.name
        FROM board b
        JOIN member m ON b.member_no = m.NO
        WHERE b.board_type = 'FREE'
        AND b.is_deleted = 'N'
        <if test="keyword != null and keyword != ''">
            AND b.title LIKE '%' || #{keyword} || '%'
        </if>
        ORDER BY b.no DESC
        OFFSET #{offset} ROWS FETCH NEXT #{amount} ROWS ONLY
    </select>

    <!-- 글 1건 조회 -->
    <select id="viewBoard" parameterType="int" resultType="BoardDto">
        SELECT b.*, m.member_id, m.name
        FROM board b
        JOIN member m ON b.member_no = m.no
        WHERE b.no = #{no}
        AND b.is_deleted = 'N'
    </select>
    <!-- 조회수 + 1 -->
    <update id="updateHit" parameterType="int">
        UPDATE board
        SET hit = hit + 1
        WHERE no = #{no}
        AND is_deleted = 'N'
    </update>
    <!-- 글 저장 -->
    <insert id="writeBoard" parameterType="BoardDto">
        INSERT INTO board (no, member_no, board_type, category,
                           title, content, rating, taste_rating,
                           facility_rating, service_rating,
                           hit, like_count, regdate)
        VALUES (board_seq.NEXTVAL, #{memberNo}, 'FREE', #{category},
                #{title}, #{content}, #{rating}, #{tasteRating},
                #{facilityRating}, #{serviceRating},
                 0, 0, SYSDATE)
    </insert>
    <!-- 글 수정 -->
    <update id="editBoard" parameterType="BoardDto">
        UPDATE board
        SET category = #{category},
            title = #{title},
            content = #{content},
            rating = #{rating},
            taste_rating = #{tasteRating},
            facility_rating = #{facilityRating},
            service_rating = #{serviceRating},
            update_date = SYSDATE
        WHERE no = #{no}
            AND member_no = #{memberNo}
    </update>
    <!-- 글 삭제 -->
    <delete id="deleteBoard">
        DELETE FROM board
        WHERE no = #{no}
            AND member_no = #{memberNo}
    </delete>
    <!-- 전체 글 수 -->
    <select id="countBoard" parameterType="PageDto" resultType="int">
        SELECT COUNT(*)
        FROM board b
        WHERE b.board_type = 'FREE'
        AND b.is_deleted = 'N'
        <if test="keyword != null and keyword != ''">
            AND b.title LIKE '%' || #{keyword} || '%'
        </if>
    </select>
    <!-- 홈 화면 최신 글 5건 -->
    <select id="recentPosts" resultType="BoardDto">
        SELECT b.no,
               b.board_type,
               b.title,
               b.regdate,
               m.name
        FROM board b
        JOIN member m ON b.member_no = m.no
        WHERE b.board_type IN ('FREE', 'REVIEW')
        AND b.is_deleted = 'N'
        ORDER BY b.no DESC
        FETCH FIRST 5 ROWS ONLY
    </select>

    <select id="searchAdminBoardList" parameterType="BoardDto" resultType="BoardDto">
        SELECT b.*, m.member_id, m.name
        FROM board b
        JOIN member m ON b.member_no = m.no
        WHERE 1 = 1

        <if test="searchBoardType != null and searchBoardType !=''">
            AND b.board_type = #{searchBoardType}
        </if>

        <if test="searchDeleted != null and searchDeleted != ''">
            AND b.is_deleted = #{searchDeleted}
        </if>

        <if test="searchType == 'title' and keyword != null and keyword != ''">
            AND b.title LIKE '%' || #{keyword} || '%'
        </if>

        <if test="searchType == 'memberId' and keyword != null and keyword != ''">
            AND m.member_id = #{keyword}
        </if>

        ORDER BY b.no DESC
        OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

    <select id="countAdminBoardList" parameterType="BoardDto" resultType="int">
        SELECT COUNT(*)
        FROM board b
        JOIN member m ON b.member_no = m.no
        WHERE 1 = 1

        <if test="searchBoardType != null and searchBoardType != ''">
            AND b.board_type = #{searchBoardType}
        </if>

        <if test="searchDeleted != null and searchDeleted != ''">
            AND b.is_deleted = #{searchDeleted}
        </if>

        <if test="searchType == 'title' and keyword != null and keyword != ''">
            AND b.title LIKE '%' || #{keyword} || '%'
        </if>

        <if test="searchType == 'memberId' and keyword != null and keyword != ''">
            AND m.member_id = #{keyword}
        </if>
    </select>

    <update id="adminDeleteBoard" parameterType="int">
        UPDATE board
        SET is_deleted = 'Y',
            update_date = SYSDATE
        WHERE no = #{no}
    </update>
</mapper>