<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>

<h2>로그인</h2>

<p th:if="${errorMessage}"
   style="color:red;">
    <span th:text="${errorMessage}"></span>
</p>

<form action="/member/login" method="post">

    <p>
        아이디 :
        <input type="text" name="memberId" required>
    </p>

    <p>
        비밀번호 :
        <input type="password" name="password" required>
    </p>

    <button type="submit">
        로그인
    </button>

</form>

<hr>

<a href="/member/signup">회원가입</a>

</body>
</html>