<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>맛집 모아모아</title>

    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/components.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">

</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main>

    <div th:replace="~{fragments/banner :: banner}"></div>

    <section class="content-grid">
        <aside>
            <h2>메뉴</h2>
            <a href="/">홈</a>
            <a href="/board/list">자유게시판</a>
            <a href="/photoBoard/list">인증게시판</a>
            <a href="/member/mypage">내정보</a>
        </aside>

        <section class="board-preview">
            <h2>최근 게시글</h2>

            <ul class="post-list">
                <li th:each="post : ${recentPosts}">
                    <a th:href="@{/board/view(no=${post.no})}"
                       th:text="${post.title}">
                    </a>
                    <span th:text="${#temporals.format(post.regDate, 'MM.dd')}"></span>
                </li>
            </ul>
        </section>
    </section>

</main>

<div th:replace="~{fragments/footer :: footer}"></div>

<script
        th:if="${param.error != null and param.error[0] == 'alreadyLogin'}">

    alert("이미 로그인된 상태입니다.");

</script>

<script
        th:if="${param.error != null and param.error[0] == 'alreadySignup'}">

    alert("로그인 중에는 회원가입 페이지에 접근할 수 없습니다.");

</script>



</body>
</html>